<div class='shadow-sm p-3 mb-5 bg-white rounded overflow-wrap'>
  <h1>
    <span class='badge badge-pill badge-info'>
      <%= @product.id %>
    </span>
    <%= @product.title %><br><br>
    <span class="badge badge-secondary">
      <%= @product.price%> $
    </span>
  </h1>
  <p class='shadow-none p-3 mb-5 bg-light rounded'><%= @product.description %></p>
  <%if @product.user %>
    <p class='text-muted'> by <span><%= @product.user.first_name %> <%= @product.user.last_name %></p>
  <% end %>

  <%# link_to arguments: name, path, options_object %>
  <% favourite = current_user.favourites.find_by_product_id(@product) %>
  <% if favourite.present?%>
    <%= link_to(
      "â¤ï¸",
      favourite_path(favourite),
      method: :delete,
      class: 'btn btn-lg'
    )%> <-- click here to remove favourite
  <% else %>
    <%= link_to(
      "ðŸ¤",
      product_favourites_path(@product),
      method: :post,
      class: 'btn btn-lg'
    )%>  <-- click here to add favourite
  <% end %>
</div>
<div>
  <% if can? :crud, @product %>
  <div>
    <%= link_to(
      "Edit",
      edit_product_path(@product),
      class: 'btn btn-info'
    )
    %>
    <%= link_to(
      "Delete",
      product_path(@product),
      method: :delete,
      class: 'btn btn-danger',
      data: { confirm: 'are you sure?' }
    )
    %>
  </div>
  <% end %>
</div>

<%= form_for [@product, @review] do |f| %>
  <% if @review.errors.full_messages.each do |msg| %>
    <ul>
      <li class="text-danger"><%= msg %></li>
    </ul>
    <% end %>
  <% end %>
  <div class="form-group">
    <label class ="form_control"> <span>Rate Us</span></label>
    <%= f.text_field(
        :rating,
        cols: 20,
        rows: 5,
        placeholder: "give us a rating",
        class: "form-control"
    )%>
    <br>
    <label class ="form_control"> <span>Comment</span></label>
    <%= f.text_area(
      :body,
      cols: 50,
      rows: 5,
      placeholder: "What are you thoughts?",
      class: "form-control"
    ) %>
  </div>
  <%= f.submit "Submit Review", class: "btn-primary" %>
<% end %>

<ul class="list-group answer-list">
  <% @reviews.each do |review| %>
    <li class="list-group-item">
      <p>
        <%= "â­"*review.rating %> <%= review.body %><br />
        <% if can? :crud, review %>
        <small>
          <%= link_to(
            "Delete",
            review_path(review),
            method: :delete, 
            data: {
              confirm: "Are you sure?"
            },
            class: 'btn btn-danger btn-sm'
          ) %>
        </small>
        |
        <% end %>
        <small>
          Reviewed <%= time_ago_in_words(review.created_at) %>ago By <%= review.user.first_name %> <%= review.user.last_name %>
        </small>
      </p>
      <small>Liked by: <%= review.likes.count %></small>
      <small>
      <% like = current_user.likes.find_by_review_id(review) %>
          <% if like.present? %>
            <%= link_to(
                "Unlike",
                 like_path(like),
                method: :delete
              )
            %>
          <% else %>
            <%= link_to(
                "like",
                review_likes_path(review),
                method: :post, 
                class: 'btn btn-process btn-sm'
              ) 
            %>
          <% end %>
      </small>
    </li>
  <% end %>
</ul>
